* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
}

.container{
  max-width: 1200px;
  height: 100vh;
}

#mainContent {
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #daf5ff;
}

#questionBox{
	position: absolute;
  width: 50%;
  height: 50%;
	top: 25%;
	left: 25%;
  color: #033F63;
}

#questionDiv{
	font-size: 200%;
	text-align: center;
}

#answerDiv{
	font-size: 200%;
	text-align: center;
	color: #FEC60D;
}

#startButton{
	text-align: center;
	font-size: 100%;
  color: #033F63;
}

/*List Related*/

.navbar {
  overflow: hidden;
  background-color: #FFEFA9;
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0;
}

.navbar .navbar-collapse {
  padding: 0px;
  overflow: auto;
  max-height: 60vh;
}

.navbar-nav {
  margin: 0px;
}

.navbar .nav > li {
  text-align: left;
  font-weight: 200;
  color: #033F63;
  padding-left: 30px;
  padding-top: 1px;
}

#curList{
  font-size: 200%;
  font-weight: 300;
  text-align: center;
}

#listDiv{
  /*overflow: auto;*/
  padding: 0;
}

#addNewItem{
  float: right;
  color: #033F63;
}

#display{
  width: 100%;
  height: 30%;
  font-size: 100%;
  font-weight: 200;
  text-align: center;
}

.bgDivs {
  overflow: hidden;
  position: absolute;
  font-size: 150%;
  opacity: 0;
}

/* large devices */
@media (min-width: 1200px){
  #listDiv{
    height: 100vh;
  }

  .container-fluid{
    height: 100vh;
    overflow: auto;
  }

  .navbar .nav > li{
    float: none;
  }
}
/* medium devices */
@media (min-width: 992px) and (max-width: 1199px) {
  #listDiv{
    height: 100vh;
  }

  .container-fluid{
    height: 100vh;
    overflow: auto;
  }

  .navbar .nav > li{
    float: none;
  }
}

/* small devices */
@media (min-width: 768px) and (max-width: 991px) {
  #listDiv{
    height: 100vh;
  }

  .container-fluid{
    height: 100vh;
    overflow: auto;
  }

  .navbar .nav > li{
    float: none;
  }
}

/* extra small devices */
@media (max-width: 767px) {

}
